### Desafios

- Qual a data do imovel mais antigo do dateset ?

- Quantos imoveis possuem o número máximo de andares ?

- Criar uma classfificação para o imóveis, separando-os em baixo e alto padrão, de acordo com o preço.

    - Acima de 540k > alto padrão

    - Abaxio de 540k > baixo padrão

- Relatorio ordenado pelo preço e contento as seguintes informações:

    -  id,
    -  data que o imovel ficou disponivel para compra,
    -  numero de quartos,
    -  tamanho total do terreno,
    -  preço,
    -  e a classficação do imovel
    
- mapa indicando onde esta localizado o terreno

### planejamento:

- Qual a data do imovel mais antigo do dateset ?
    - r: ordenar a data do maior para o menor

- Quantos imoveis possuem o número máximo de andares ?
    - r: ordenar a coluna andares do maior para o menor e contar

- Criar uma classfificação para o imóveis, separando-os em baixo e alto padrão, de acordo com o preço.
    - r: usar uma query para perguntar se é maior de 540k ou menor
   

- Relatorio ordenado pelo preço e contento as seguintes informações:

     - id, data que o imovel ficou disponivel para compra, numero de quartos, tamanho total do terreno, preço e a classficação do imovel
     
     - r: selecionar as colunas e ordenar pelo preço

- mapa indicando onde esta localizado o terreno
    - r: encontrar o lont e a lat e usar uma biblioteca do google maps

In [111]:
import pandas as pd

In [112]:
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Qual a data do imovel mais antigo do dateset ?

In [113]:
df.date = pd.to_datetime(df.date)

In [114]:
#df.date = [d.strftime('%d-%m-%Y') if not pd.isnull(d) else '' for d in df['date']]#padrão br

In [115]:
print(f'{df.date.min().date()} é o imovel mais antigo')

2014-05-02 é o imovel mais antigo

# Quantos imoveis possuem o número máximo de andares ?

In [116]:
df.floors.value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [117]:
print('O maior andar é de 3.5 e tem 8 no dataset')

O maior andar é de 3.5 e tem 8 no dataset

# Criar uma classfificação para o imóveis, separando-os em baixo e alto padrão, de acordo com o preço.

In [122]:
alto_nivel = df.query('price > 540000')
alto_nivel['level'] = 'alto preco'

baixo_nivel = df.query('price < 540000')
baixo_nivel['level'] = 'baixo preco'

df = pd.DataFrame()
df = df.append(alto_nivel)
df = df.append(baixo_nivel)
df.reset_index(inplace=True)

del df['level_0']
del df['index']

df

C:\Users\kkaua\AppData\Local\Temp/ipykernel_17588/546516324.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alto_nivel['level'] = 'alto preco'
C:\Users\kkaua\AppData\Local\Temp/ipykernel_17588/546516324.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baixo_nivel['level'] = 'baixo preco'

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,level
0,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,alto preco
1,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,alto preco
2,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,1.0,0,0,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,alto preco
3,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0,3,...,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,alto preco
4,2524049179,2014-08-26,2000000.0,3,2.75,3050,44867,1.0,0,4,...,2330,720,1968,0,98040,47.5316,-122.233,4110,20336,alto preco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21530,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,baixo preco
21531,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,baixo preco
21532,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,baixo preco
21533,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,baixo preco
21534,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,baixo preco

# Relatorio de id, data que o imovel ficou disponivel para compra, numero de quartos, tamanho total do terreno, preço e a classficação do imovel

In [123]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'level'],
      dtype='object')

In [139]:
relatorio = df[['id','date', 'price', 'bedrooms', 'sqft_lot', 'level', 'lat', 'long']]
relatorio.sort_values('price')

relatorio.reset_index(inplace=True)

del relatorio['level_0']
del relatorio['index']

relatorio

,id,date,price,bedrooms,sqft_lot,level,lat,long
0,2487200875,2014-12-09,604000.0,4,5000,alto preco,47.5208,-122.393
1,7237550310,2014-05-12,1225000.0,4,101930,alto preco,47.6561,-122.005
2,1736800520,2015-04-03,662500.0,3,9796,alto preco,47.6007,-122.145
3,9297300055,2015-01-24,650000.0,4,5000,alto preco,47.5714,-122.375
4,2524049179,2014-08-26,2000000.0,3,44867,alto preco,47.5316,-122.233
...,...,...,...,...,...,...,...,...
21530,263000018,2014-05-21,360000.0,3,1131,baixo preco,47.6993,-122.346
21531,6600060120,2015-02-23,400000.0,4,5813,baixo preco,47.5107,-122.362
21532,1523300141,2014-06-23,402101.0,2,1350,baixo preco,47.5944,-122.299
21533,291310100,2015-01-16,400000.0,3,2388,baixo preco,47.5345,-122.069
21534,1523300157,2014-10-15,325000.0,2,1076,baixo preco,47.5941,-122.299

# mapa indicando onde esta localizado o terreno

In [ ]:
import folium

In [186]:
relatorio.query('price > 5400000').max()

id                   9808700762
date        2014-10-13 00:00:00
price                 7700000.0
bedrooms                      6
sqft_lot                  37325
level                alto preco
lat                       47.65
long                   -122.214
dtype: object

In [210]:
lat = 47.65
long = -122.214

maps = folium.Map(location=[lat, long], zoom_start=125)
maps.save("index.html")
maps